aiofiles==25.1.0
environs==14.5.0
pydantic==2.12.5
fastapi==0.129.0
python-multipart==0.0.22
loguru==0.7.3
openai==2.21.0
orjson==3.11.7
uvicorn==0.40.0
markdown==3.10.2
httpx==0.28.1
numpy==2.4.2
pyyaml==6.0.3
python-box==7.3.2
tzdata==2025.3
jinja2==3.1.6
yarl==1.23.0
bleach==6.3.0
asteval==1.0.8
pip_requirements_parser==32.0.1
jsonpatch==1.33
pythonping==1.1.4
cachetools==7.1.4
packaging==26.1
starlark==0.6.0